<%- include('./partials/navBarBooks', {title: 'Books Detail'}) %>
<center>
  <div>
  <img src="<%=url%>" alt="" >
  </div>

  <a href="/books/downloads/<%=helperFileName(dataBook[0].path)%>" class="btn btn-success">Download</a>
</center>
<br>
<table class="table">
  <tr>
    <th>Title</th>
    <td><%=dataBook[0].name%></td>
  </tr>

  <tr>
    <th>Writer/Publisher</th>
    <td><%=dataBook[0].publisher%></td>
  </tr>

  <tr>
    <th>Realesed Year</th>
    <td><%=dataBook[0].year%></td>
  </tr>

  <tr>
    <th>Genre</th>
    <td><%=dataBook[0].Genre.name%></td>
  </tr>

  <tr>
    <th>Description</th>
    <td><%=dataBook[0].description%></td>
  </tr>

  <tr>
    <th>Uploaded By</th>
    <td><%=dataBook[0].uploadedBy%></td>
  </tr>

   
</table>
<br>

<center>

  <h2>Review From Readers</h2>
  <a href="/reviews/books/<%=dataBook[0].id%>" class="btn btn-success">Add Review</a>
</center>
<br><br>
<table class="table">
  <thead class="thead-dark">
    <th>Rating</th>
    <th>Review</th>
    <th>Reviewed By</th>
    <%for (let i in dataReview){%>
  </thead>
  <tr>
    <td class="font-weight-bold"><%=dataReview[i].rating%> / 10</td>
    <td class="font-italic"><%=dataReview[i].comment%></td>
    <td><%=dataReview[i].User.username%></td>
  </tr>
  <% } %>
</table>
</html>
