<%- include('./partials/header', {title: 'Books Detail'}) %>
<div>
<img src="<%=url%>" alt="" >
</div>

<table border="1">
  <tr>
    <th>Title</th>
    <td><%=dataBook[0].name%></td>
  </tr>

  <tr>
    <th>Writer/Publisher</th>
    <td><%=dataBook[0].publisher%></td>
  </tr>

  <tr>
    <th>Realesed Year</th>
    <td><%=dataBook[0].year%></td>
  </tr>

  <tr>
    <th>Genre</th>
    <td><%=dataBook[0].Genre.name%></td>
  </tr>

  <tr>
    <th>Description</th>
    <td><%=dataBook[0].description%></td>
  </tr>

  <tr>
    <th>Uploaded By</th>
    <td><%=dataBook[0].uploadedBy%></td>
  </tr>

   
</table>

<br>
  <a href="/books/downloads/<%=helperFileName(dataBook[0].path)%>">Download</a>
<br>

<h2>Review From Readers</h2>
  <a href="/reviews/books/<%=dataBook[0].id%>">Add Review</a>
<br><br>
<table border="1">
  <th>Rating</th>
  <th>Review</th>
  <th>Reviewed By</th>
  <%for (let i in dataReview){%>
  <tr>
    <td><%=dataReview[i].rating%></td>
    <td><%=dataReview[i].comment%></td>
    <td><%=dataReview[i].User.username%></td>
  </tr>
  <% } %>
</table>

<%- include('./partials/footer') %>